#/web/bundles/
.DS_Store
*.swp
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

#CUSTOM
/bower_components/*
/node_modules/*
