@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
.robo {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}
body {
  max-width: none;
  background: #eeeeee;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  padding: 0;
}
.wrapper {
  max-width: 1170px;
  background: none;
  padding: 0;
}
.ogus_header {
  padding-top: 24px;
  background: url('https://centrodph.github.io/ogus/Minimalista/CSS/header.jpg') no-repeat center center;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@url', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@url', sizingMethod='scale')";
  background-size: cover;
  color: #FFF;
}
.ogus_header .link {
  color: #FFF;
}
.ogus_header_menu {
  text-transform: uppercase;
  float: left;
}
.ogus_header_menu ul li.background {
  background: none;
  float: left;
}
.ogus_header_menu ul li.background a {
  margin: 0 10px;
  line-height: 47px;
  display: block;
  text-decoration: none;
}
.ogus_header_menu ul li.background a:hover {
  border-bottom: solid 2px #cad415;
}
.ogus_header_right {
  text-transform: uppercase;
  float: right;
}
.ogus_header_right a {
  margin: 0 10px;
  line-height: 47px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding-right: 35px;
}
.ogus_header_right a:hover {
  border-bottom: solid 2px #cad415;
}
.ogus_header_right span {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0;
  top: 7px;
}
.ogus_header_right span.icon-news {
  background: url('https://centrodph.github.io/ogus/Minimalista/CSS/images/icon-news.png') no-repeat center center;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@url', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@url', sizingMethod='scale')";
  background-size: cover;
}
.ogus_header_right span.icon-cart {
  background: url('https://centrodph.github.io/ogus/Minimalista/CSS/images/icon-cart.png') no-repeat center center;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@url', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@url', sizingMethod='scale')";
  background-size: cover;
}
.header-search {
  max-width: 800px;
  padding: 30px;
  text-align: center;
  margin: 0 auto;
}
.header-search .header-search-titulo {
  font-size: 30px;
  padding-bottom: 20px;
}
.header-search .header-search-titulo span {
  color: #cad415;
}
.header-search #searchForm .inputField {
  width: 85%;
  padding-left: 10px;
  background: none;
  background-image: url({@repoimage}icon-search.png);
  background-position: 5px 3px;
  float: left;
  border: solid 2px #cad415;
  height: 34px;
  color: #cad415;
}
.header-search #searchForm .inputField::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #cad415;
}
.header-search #searchForm .inputField:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #cad415;
  opacity: 1;
}
.header-search #searchForm .inputField::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #cad415;
  opacity: 1;
}
.header-search #searchForm .inputField:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cad415;
}
.header-search #searchForm .inputField::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cad415;
}
.header-search #searchForm .button {
  width: 15%;
  background: #cad415;
  border: none;
  float: left;
  border-radius: 0;
  background-clip: padding-box;
  height: 34px;
  color: #002f3f;
  text-transform: uppercase;
}
/*************************************************************
    CAROUSEL HOME
*************************************************************/
.ogus-main-content-carousel {
  background: #FFF;
}
.ogus-main-content-carousel ul li {
  height: 454px;
}
/*************************************************************
    CAROUSEL HOME
*************************************************************/
.ogus-productos-destacados-title {
  color: #002f3f;
  font-size: 50px;
  text-align: center;
}
.ogus-main-content-linea {
  background: #ffffff;
  padding: 40px 0;
  text-align: center;
  color: #002f3f;
  text-transform: uppercase;
}
.ogus-main-content-linea .ogus-linea-title {
  font-size: 50px;
}
.ogus-main-content-linea .ogus-linea-home-box {
  padding: 20px 0;
}
.ogus-main-content-linea .ogus-linea-home-box img {
  margin: 0 auto;
  padding-bottom: 25px;
}
.ogus-main-content-linea .ogus-linea-home-box span {
  font-size: 30px;
}
.ogus-main-content-linea .ogus-linea-home-box a {
  color: #002f3f;
  text-decoration: none;
}
.ogus-main-content-linea .ogus-linea-home-box a:hover {
  color: #cad415;
}
/*************************************************************
    FOOTER TOP
*************************************************************/
.ogus-footer-top {
  color: #FFF;
  background: url('https://centrodph.github.io/ogus/Minimalista/CSS/images/bg-footer-top.jpg') no-repeat center center;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@url', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@url', sizingMethod='scale')";
  background-size: cover;
  padding: 40px 0;
}
.ogus-footer-top .ogus-medios-pago-titulo {
  padding: 20px 0;
  font-size: 50px;
  font-weight: 700;
}
.ogus-footer-top .ogus-medios-pago-desc {
  padding-bottom: 35px;
}
/*************************************************************
    FOOTER BOTTOM
*************************************************************/
.ogus-footer {
  padding: 50px 30px 30px 30px;
  color: #FFF;
  background: #002f3f;
}
.ogus-footer-sep {
  height: 50px;
}
.ogus-footer-box .ogus-footer-box-titulo {
  font-size: 20px;
  color: #cad415;
  padding-bottom: 20px;
}
.ogus-footer-box .ogus-footer-box-icon {
  float: left;
  width: 16%;
}
.ogus-footer-box .ogus-footer-box-desc {
  float: left;
  width: 84%;
  padding-left: 2px;
  font-size: 12px;
}
.ogus-copy-gema {
  float: right;
}
.ogus-copy-text {
  line-height: 25px;
}
.installments-info {
  display: none;
}
/*************************************************************
  SOBREEESCRITURE
*************************************************************/
.mainContent {
  background: #eeeeee;
}
.component .item-gallery li.background,
.component .item-gallery li.row {
  height: 450px;
  margin-bottom: 30px;
}
.component .item-gallery li.background article,
.component .item-gallery li.row article {
  padding-top: 210px;
  text-align: center;
}
.component .item-gallery li.background article h2,
.component .item-gallery li.row article h2 {
  line-height: 25px;
  min-height: 85px;
  display: inline-block;
}
.component .item-gallery li.background article h2 a,
.component .item-gallery li.row article h2 a {
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
}
.component .item-gallery li.background article .price,
.component .item-gallery li.row article .price {
  color: #002f3f;
  font-weight: 700;
  font-size: 30px;
}
.component .item-gallery li.background article .home-mas-info,
.component .item-gallery li.row article .home-mas-info {
  padding: 17px 0;
  text-align: center;
}
.component .item-gallery li.background article .home-mas-info a,
.component .item-gallery li.row article .home-mas-info a {
  text-decoration: none;
  border: solid 2px #002f3f;
  padding: 0 20px;
  line-height: 30px;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
}
/*************************************************************
  CONTACTO SOBREESCRITURA
*************************************************************/
#page-CONTACT .title-component {
  font-size: 30px;
  color: #002f3f;
  font-weight: 300;
  text-transform: uppercase;
}
#page-CONTACT .component.payMethod {
  display: none;
}
#recaptcha_widget .recaptcha_logo {
  display: none;
}
#recaptcha_widget #recaptcha_image {
  padding: 0;
  border: none;
}
#contact-btn {
  border: none;
  background: #002f3f;
  color: #cad415;
  border-radius: 0;
  background-clip: padding-box;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  min-width: 125px;
}
#frmContact p.ch-form-row input {
  height: 33px;
}
#frmContact p.ch-form-row input,
#frmContact p.ch-form-row textarea {
  border: solid 1px #002f3f;
  width: 100%;
  font-weight: 300;
  color: #002f3f;
  text-transform: uppercase;
  padding: 2px 5px;
}
#frmContact p.ch-form-row label {
  display: none;
}
#frmContact .contactWrap {
  float: left;
  width: 45%;
}
#frmContact .contactWrap p {
  margin-bottom: 25px;
}
#frmContact p.row3,
#frmContact p.ch-actions {
  float: right;
  width: 45%;
}
#frmContact p.row3 textarea,
#frmContact p.ch-actions textarea {
  width: 100% !important;
  height: 118px;
}
#frmContact p.ch-actions {
  text-align: right!important;
}
/*************************************************************
  RESULT
*************************************************************/
#page-RESULT .background {
  background: none;
  color: #002f3f;
}
#page-RESULT .rowsWrapper {
  padding-top: 30px;
}
.component.searchResults .component.item-gallery li.background,
.component.searchResults .component.item-gallery li.row {
  height: 450px;
  margin-bottom: 30px;
}
.component.searchResults .component.item-gallery li.background article,
.component.searchResults .component.item-gallery li.row article {
  padding-top: 210px;
  text-align: center;
}
.component.searchResults .component.item-gallery li.background article h2,
.component.searchResults .component.item-gallery li.row article h2 {
  line-height: 25px;
  min-height: 85px;
  display: inline-block;
}
.component.searchResults .component.item-gallery li.background article h2 a,
.component.searchResults .component.item-gallery li.row article h2 a {
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
}
.component.searchResults .component.item-gallery li.background article .price,
.component.searchResults .component.item-gallery li.row article .price {
  color: #002f3f;
  font-weight: 700;
  font-size: 30px;
}
.component.searchResults .component.item-gallery li.background article .home-mas-info,
.component.searchResults .component.item-gallery li.row article .home-mas-info {
  padding: 17px 0;
  text-align: center;
}
.component.searchResults .component.item-gallery li.background article .home-mas-info a,
.component.searchResults .component.item-gallery li.row article .home-mas-info a {
  text-decoration: none;
  border: solid 2px #002f3f;
  padding: 0 20px;
  line-height: 30px;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
}
.component.searchResults .component.item-gallery dl {
  margin-bottom: 0;
}
.component.searchResults .component.item-list li.background,
.component.searchResults .component.item-list li.row {
  height: 450px;
  margin-bottom: 30px;
}
.component.searchResults .component.item-list li.background article,
.component.searchResults .component.item-list li.row article {
  padding-top: 210px;
  text-align: center;
}
.component.searchResults .component.item-list li.background article h2,
.component.searchResults .component.item-list li.row article h2 {
  line-height: 25px;
  min-height: 85px;
  display: inline-block;
}
.component.searchResults .component.item-list li.background article h2 a,
.component.searchResults .component.item-list li.row article h2 a {
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
}
.component.searchResults .component.item-list li.background article .price,
.component.searchResults .component.item-list li.row article .price {
  color: #002f3f;
  font-weight: 700;
  font-size: 30px;
}
.component.searchResults .component.item-list li.background article .home-mas-info,
.component.searchResults .component.item-list li.row article .home-mas-info {
  padding: 17px 0;
  text-align: center;
}
.component.searchResults .component.item-list li.background article .home-mas-info a,
.component.searchResults .component.item-list li.row article .home-mas-info a {
  text-decoration: none;
  border: solid 2px #002f3f;
  padding: 0 20px;
  line-height: 30px;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
}
.component.searchResults .component.item-list dl {
  margin-bottom: 0;
}
.component.searchResults .component.item-list li.row {
  height: auto;
}
.component.searchResults .component.item-list li.row article {
  padding-top: 10px;
  text-align: left;
}
.component.searchResults .component.item-list li.row article .home-mas-info {
  display: none;
}
/*************************************************************
  PRODUCTO SOBREESCRITURA
*************************************************************/
.component.vip h1 {
  font-size: 30px;
  color: #002f3f;
  font-weight: 300;
}
.component.vip span.ch-price.price {
  color: #002f3f;
  font-weight: 700;
  font-size: 30px;
}
#fb-like-button,
.vipSocials,
.PaymentList li.ShippingData,
.PaymentList li.paymentsMP {
  display: none;
}
.component.vip .ch-actions.buttonBuy {
  text-align: left;
}
.component.vip .ch-actions.buttonBuy a {
  border: none;
  background: #002f3f;
  color: #cad415;
  border-radius: 0;
  background-clip: padding-box;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  min-width: 125px;
  width: 240px;
  font-size: 18px;
  float: none;
}
.component.prodDescription.ch-tabNavigator * {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}
.component.prodDescription.ch-tabNavigator .ch-tabNavigator-triggers {
  margin: 0;
}
.component.prodDescription.ch-tabNavigator .ch-tabNavigator-triggers a {
  color: #002f3f !important;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}
.component.prodDescription.ch-tabNavigator pre {
  white-space: inherit;
  text-indent: 0;
  font-size: 11px;
}
.component.vip .prodDescription {
  padding: 18px;
  border: solid 1px #cecece;
}
.compra-protegida {
  clear: both;
  position: relative;
  padding-left: 40px;
  margin: 14px 0 20px 0;
  font-size: 10px;
  line-height: 20px;
  float: left;
}
.compra-protegida .compra-protegida-top {
  font-size: 13px;
}
.compra-protegida span {
  background: url('https://centrodph.github.io/ogus/Minimalista/CSS/images/icon-protegido.png') no-repeat center top;
  display: block;
  height: 40px;
  width: 32px;
  position: absolute;
  top: 2px;
  left: 0;
}
/*************************************************************
  CONTACTO SOBREESCRITURA
*************************************************************/
.title-component {
  font-size: 30px;
  color: #002f3f;
  font-weight: 300;
}
/***

*****/
#page-VIP .ch-carousel-list {
  max-width: 100px !important;
  -webkit-transform: none !important;
          transform: none !important;
}
#page-VIP .component.picviewer .ch-carousel-list li {
  width: 75px!important;
  height: 75px!important;
  margin: 0 2px !important;
  display: block;
  float: right;
}
#page-VIP .component.picviewer figure,
.component.picviewer li {
  text-align: left;
}
#page-VIP .ch-viewervip-triggers .ch-thumbnail-on {
  background: none;
  border: 1px solid #ddd !important;
}
#page-VIP .component.picviewer img,
.component.picviewer object,
.component.picviewer embed {
  max-width: 100% !important;
  width: 100%;
}
#page-VIP .ch-carousel {
  float: right;
  display: inline;
  width: 20%;
}
#page-VIP .ch-carousel-mask {
  margin: 0;
  height: 100% !important;
}
#page-VIP .ch-carousel-prev {
  left: 0;
  top: 30% !important;
}
#page-VIP .ch-carousel-prev,
.ch-carousel-next {
  display: none !important;
}
/*************************************************************
*************************************************************/
