@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';
body {
  max-width: none;
  background: #002f3f;
}
.wrapper {
  max-width: 1170px;
  background: none;
}
header {
  background: url('https://centrodph.github.io/ogus/Minimalista/CSS/header.jpg') no-repeat;
}
.ogus_header_menu {
  float: left;
}
.ogus_header_menu ul li.background {
  background: none;
  display: inline-block;
}
