@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
.robo {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}
body {
  max-width: none;
  background: #eeeeee;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  padding: 0;
}
.wrapper {
  max-width: 1170px;
  background: none;
  padding: 0;
}
.ogus_header {
  padding-top: 24px;
  background: url('https://centrodph.github.io/ogus/Minimalista/CSS/header.jpg') no-repeat center center;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@url', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@url', sizingMethod='scale')";
  background-size: cover;
  color: #FFF;
}
.ogus_header .link {
  color: #FFF;
}
.ogus_header_menu {
  text-transform: uppercase;
  float: left;
}
.ogus_header_menu ul li.background {
  background: none;
  float: left;
}
.ogus_header_menu ul li.background a {
  margin: 0 10px;
  line-height: 47px;
  display: block;
  text-decoration: none;
}
.ogus_header_menu ul li.background a:hover {
  border-bottom: solid 2px #cad415;
}
.ogus_header_right {
  text-transform: uppercase;
  float: right;
}
.ogus_header_right a {
  margin: 0 10px;
  line-height: 47px;
  display: inline-block;
  text-decoration: none;
}
.ogus_header_right a:hover {
  border-bottom: solid 2px #cad415;
}
.header-search {
  max-width: 800px;
  padding: 30px;
  text-align: center;
  margin: 0 auto;
}
.header-search .header-search-titulo {
  font-size: 30px;
  padding-bottom: 20px;
}
.header-search .header-search-titulo span {
  color: #cad415;
}
.header-search #searchForm .inputField {
  width: 85%;
  background: none;
  float: left;
  border: solid 2px #cad415;
  height: 34px;
}
.header-search #searchForm .button {
  width: 15%;
  background: #cad415;
  border: none;
  float: left;
  border-radius: 0;
  background-clip: padding-box;
  height: 34px;
  color: #002f3f;
  text-transform: uppercase;
}
/*************************************************************
    CAROUSEL HOME
*************************************************************/
.ogus-main-content-carousel {
  background: #FFF;
}
.ogus-main-content-carousel ul li {
  height: 454px;
}
/*************************************************************
    CAROUSEL HOME
*************************************************************/
.ogus-main-content-linea {
  background: #ffffff;
  padding: 40px 0;
  text-align: center;
  color: #002f3f;
  text-transform: uppercase;
}
.ogus-main-content-linea .ogus-linea-title {
  font-size: 50px;
}
.ogus-main-content-linea .ogus-linea-home-box {
  padding: 20px 0;
}
.ogus-main-content-linea .ogus-linea-home-box img {
  margin: 0 auto;
  padding-bottom: 25px;
}
.ogus-main-content-linea .ogus-linea-home-box span {
  font-size: 30px;
}
/*************************************************************
    FOOTER TOP
*************************************************************/
.ogus-footer-top {
  color: #FFF;
  background: url('https://centrodph.github.io/ogus/Minimalista/CSS/images/bg-footer-top.jpg') no-repeat center top;
  padding: 40px 0;
}
.ogus-footer-top .ogus-medios-pago-titulo {
  padding: 20px 0;
  font-size: 50px;
  font-weight: 700;
}
.ogus-footer-top .ogus-medios-pago-desc {
  padding-bottom: 35px;
}
/*************************************************************
    FOOTER BOTTOM
*************************************************************/
.ogus-footer {
  padding: 30px;
  color: #FFF;
  background: #002f3f;
}
.ogus-footer-sep {
  height: 30px;
}
.ogus-footer-box .ogus-footer-box-titulo {
  font-size: 20px;
  color: #cad415;
  padding-bottom: 20px;
}
.ogus-footer-box .ogus-footer-box-icon {
  float: left;
  width: 16%;
}
.ogus-footer-box .ogus-footer-box-desc {
  float: left;
  width: 84%;
  padding-left: 2px;
  font-size: 12px;
}
.ogus-copy-gema {
  float: right;
}
.ogus-copy-text {
  line-height: 25px;
}
.installments-info {
  display: none;
}
/*************************************************************
  SOBREEESCRITURE
*************************************************************/
.mainContent {
  background: #eeeeee;
}
.component .item-gallery li.background {
  height: 450px;
  margin-bottom: 30px;
}
.component .item-gallery li.background article {
  padding-top: 210px;
  text-align: center;
}
.component .item-gallery li.background article h2 {
  line-height: 25px;
  min-height: 85px;
  display: inline-block;
}
.component .item-gallery li.background article h2 a {
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
}
.component .item-gallery li.background article .price {
  color: #002f3f;
  font-weight: 700;
  font-size: 30px;
}
.component .item-gallery li.background article .home-mas-info {
  padding: 17px 0;
  text-align: center;
}
.component .item-gallery li.background article .home-mas-info a {
  text-decoration: none;
  border: solid 2px #002f3f;
  padding: 0 20px;
  line-height: 30px;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
}
/*************************************************************
  CONTACTO SOBREESCRITURA
*************************************************************/
/*************************************************************
  CONTACTO SOBREESCRITURA
*************************************************************/
/*************************************************************
*************************************************************/
